@model Reservation;

<form asp-controller="reservation" asp-action="EditReservation" method="post"   class="mt-3"> 
	 <input hidden asp-for="ReservationId" />
	<div class="form-group row">
		<label asp-for = "ReservationWorkoutName" class="col-sm-2 col-form-label"></label>
		<div  class="col-sm-10">
			<select asp-for = "ReservationWorkoutName" class="form-control" asp-items="Html.GetEnumSelectList<TrainingTypesEnum>()">
			</select>
		</div>
	</div>
	&nbsp;
	<div class="form-group row">
		<label asp-for="ReservationWorkoutName" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<select asp-for="ReservationDay" class="form-control" asp-items="Html.GetEnumSelectList<DayEnum>()">
			</select>
		</div>
	</div>
	&nbsp;
	<div class="form-group row">
		<label asp-for = "Members" class="col-sm-2 col-form-label"></label>
		<div  class="col-sm-10">
			<input asp-for = "Members" class="form-control" placeholder="Select a number" />
		</div>
	</div>

	<hr />
	<div class="form-group row">
		<div class="col-sm-10">
			 <button type="submit" class="btn-primary">Update</button>
			 <button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn-primary">Cancel</button>
		</div>
	</div>
</form>